<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/26222a6b70.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bermuda Children's Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Orphanage Admin
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Add Orphan", "addOrphan", "Orphanage")</li>
                    <li>@Html.ActionLink("Orphanage Needs", "orphanageNeeds", "Orphanage")</li>
                    <li>@Html.ActionLink("Homework Help", "homeworkHelp", "Orphanage")</li>
                    <li>@Html.ActionLink("Foster List", "fosterList", "Orphanage")</li>
                    </ul>
                    </li>
                    <li>@Html.ActionLink("Make Donation", "makeDonation", "Donor")</li>
                    <li>@Html.ActionLink("Homework Helper", "becomeHelper", "Helper")</li>
                    <li>@Html.ActionLink("Become a Foster Parent", "becomeFosterParent", "FosterParent")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - u21442453_HW04</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
